body {
    background-color: black;
}

.logo {
    /* margin: auto; */
    margin-top: 15%;
    background-image: url("art/Marvelstudios.svg");
    height: 200px; 
    width: 90%;
    background-position: center;
    background-size: auto; 
    background-repeat: no-repeat;
    padding-left: 100px;
}
.logo-text{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
